<style>
	* {
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
	  background: #24252a;
	}

	#nav{
		border:1px solid #ccc;
		border-width:1px 0;
		list-style:none;
		margin:0;
		padding:0;
		text-align:center;
	}
	#nav li{
		display:inline;
	}
	#nav a{
		display:inline-block;
		padding:10px;
	}
	a{
		color:white;
		text-decoration:none;
		font-weight:bold;
	}
	a:hover{
		text-decoration:underline;
	}
		
	</style>

<header>
  <!-- <img class="logo" src="https://cdn.discordapp.com/attachments/666372914203066389/670731645371809802/icon.png" alt="logo"> -->

  <ul id="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="/dir">Files</a></li>
    <li><a href="/chart">Graphs</a></li>
	</ul>

  <!-- <a class="cta" href="#"><button>Contact</button></a> -->
</header>
<br>